.summary {
    background-color: var(--mantine-color-dark-6);
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-md);
}

.quickBadge {
    cursor: pointer;
    transition: all 100ms ease;
    user-select: none;
}

.quickBadge:hover {
    transform: scale(1.05);
}

/* Light mode */
:global([data-mantine-color-scheme='light']) .summary {
    background-color: var(--mantine-color-gray-1);
    border: 1px solid var(--mantine-color-gray-3);
}
