.footer {
    background-color: var(--mantine-color-dark-8);
    border-top: 1px solid var(--mantine-color-dark-4);
    height: 42px;
    flex-shrink: 0;
    user-select: none;
}

.kbd {
    font-size: 11px;
    padding: 2px 6px;
    min-width: 28px;
    text-align: center;
}