.header {
  background-color: var(--mantine-color-dark-8);
  border-bottom: 1px solid var(--mantine-color-dark-4);
  height: 60px;
  flex-shrink: 0;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 100px;
}
